<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="Fody" version="6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.17.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net461" />
  <package id="morelinq" version="3.3.2" targetFramework="net461" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="obs-websocket-dotnet" version="4.2.0-beta3" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="SharpAdbClient" version="2.3.22" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.2" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="Tesseract" version="3.3.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>