@page
@model BackendAPI.Pages.Shared.DefinicaoArquiteturaModel
<p>
    <i>
        @myApp.Controllers.ButtonController.ObterDefinicao()
    </i>
</p>
<p>
    Última Definição carregada em:
    @DateTime.Now.ToString("HH:mm:ss")
</p>
