@page "/";
@namespace BackendAPI.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/JavaScript.js"></script>

</head>
<html>
<body>
    <h1>Index testing</h1>



    <component type="typeof(BlazorServerSample.Pages.ButtonMatriz)" render-mode="ServerPrerendered" />
    <component type="typeof(BlazorServerSample.Pages.App)" render-mode="Static" />


</body>
</html>
